- form_for @user, :url => login_path  do |f|
  - unless @user.errors.empty?
    = @user.errors.full_messages.first
    %br
    Забыли пароль ? 
    = link_to 'Перейдите на страницу восстановления пароля', forgot_password_path
  %dl
    %dt
      Логин
    %dd
      = f.text_field :login
    %dt
      Пароль
    %dd
      = f.password_field :password
  = f.submit "Войти"
