- require_jquery_datepicker
- require_jquery_selectchain
- javascript 'register'

%table.section{ :cellspacing => "0", :width => "50%", :align => "center", :cellpadding => "0" }
  %tbody
    %tr
      %td.tl
      %td.t
      %td.tr
    %tr
      %td.l
      %td
        .text_4{ :style => "width: 95%;margin:0 auto" }
          - form_for @user, :url => register_path  do |f|
            .text_6
              = f.error_messages :header_message => nil
            %dl
              %dt
                Фамилия
              %dd
                = f.text_field :last_name, :class => "text_6"
              %dt
                Имя
              %dd
                = f.text_field :first_name, :class => "text_6"
              %dt
                Отчество
              %dd
                = f.text_field :patronymic, :class => "text_6"
              %dt
                Логин/ник*
              %dd
                = f.text_field :login, :class => "text_6"
              %dt
                пароль*
              %dd
                = f.password_field :password, :class => "text_6"
              %dt
                пароль (повторить)*
              %dd
                = f.password_field :password_confirmation, :class => "text_6"
              %dt
                емейл*
              %dd
                = f.text_field :email, :class => "text_6"
              %dt
                дата рождения
              %dd
                = f.text_field :birth_date, :size => 25, :class => "text_6"
              %dt
                Страна, Город
              %dd
                = select :events, :root_place, @places.collect { |p| [p.title, p.id] }, :include_blank => true, :selected => @root_place_id
                = f.select :city_id, @child_places || [], :selected => @place_id
              %dt
                Проверка на "человечность"
              %dd
                = show_simple_captcha(:label => "напишите код с картинки", :object => :typus_user)

            = f.submit "Зарегистрироваться"
      %td.r
    %tr
      %td.bl
      %td.b
      %td.br
